<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prideflag Test</title>

	<!-- Social Media Meta Tags -->
	<meta property="og:title" content="Prideflag Test">
	<meta property="og:description" content="Test your knowledge about LGBTQIA+ flags!">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/public/flags/inclusive_pride_flag.png">
	<meta name="description" content="Test your knowledge about LGBTQIA+ flags!">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Prideflag Test">
	<meta name="twitter:description" content="Test your knowledge about LGBTQIA+ flags!">
	<meta name="twitter:image" content="/public/flags/inclusive_pride_flag.png">
	<link rel="icon" type="image/png" href="/public/flags/inclusive_pride_flag.png">

	<link rel="stylesheet" href="/public/styles/index.css">
</head>
<body>
    <div class="container">
        <h1>Prideflag Test</h1>
        <span>Test your knowledge about LGBTQIA+ flags !</span>
        <div class="buttons">
            {{if .IsFinished}}
                <button onclick="window.location.href='/test';">Start the test</button>
            {{else}}
                <button onclick="window.location.href='/test';">Continue your test</button>
                <button onclick="window.location.href='/test?restart';">Restart a test</button>
            {{end}}
        </div>
    </div>
</body>
</html>
