<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prideflag Test</title>

	<link rel="stylesheet" href="/public/styles/test.css">
</head>
<body>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Bisexual_Pride_Flag.svg" class="flag" />
        <div class="choices">
            <button data-choice="1">Gay</button>
            <button data-choice="2">Transgender</button>
            <button data-choice="3">Bisexual</button>
            <button data-choice="4">Non binary</button>
        </div>
    </div>
</body>
</html>
